/* ========================
   -CSS Code Structure
    1. Global CSS
    2. Typography
    3. Header Section
    4. Banner Section
    5. Benefits Section
    6. Confidential Section
    7. About Section
    8. Service Section
    9. Treatment Proccedure Section
    10. Location Section
    11. Quotes Section
    12. Staff Section
    13. Contact Section
    14. FAQ Section
    15. Comission Section
    16. Footer Section
========================== */

/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700;900');

/*1.0 Global Css Start*/
body{
    font-family: 'Raleway', sans-serif;
    width: 100%;
}

/*1.0 Global Css End*/

/*2.0 Typography Section Start*/
/*2.0 Typography Section End*/

/*3.0 Header Section Start*/

.navbar{
    margin: 0 auto;
}

.navbar-expand-lg .navbar-nav{
    font-size: 15px;
}

.navbar-brand{
    width: 25%;
}

.navbar-brand img{
    max-width: 50%;
}

.navbar-light .navbar-nav .nav-link{
    color: #fff;
    padding-right: 15px;
    padding-left: 15px;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: #d4cce1;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
}

.navbar-light .navbar-nav .nav-link:focus{
    color: #d4cce1;
}

.navbar-light .navbar-toggler{
	color: #fff;
	border: 0px;
	font-size: 25px;
}

.navbar-light .navbar-toggler:hover{
	color: #257e95;
	transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
}

.navbar-light .navbar-toggler:focus{
	color: #257e95;
}

.menu{
    background-color: #343A40;
}

header .top-bar{
    padding-right: 0px;
    padding-left: 0px;
}

.top-bar-left ul li{
    text-align: left;
    list-style: none;
    float: left;
    padding-left: 15px;
}

.top-bar-right ul li{
    float: right;
    list-style: none;
    padding-right: 15px;
}
/*3.0 Header Section End*/

/*4.0 Banner Section Start*/


.banner{
    background: url(../img/banner2.png) no-repeat;
    background-size: cover;
    padding: 50px 0px;
    min-height: 40rem;
    height: auto;
    border-radius: 0;
    width: 100%;
    color: #fff;
    padding-top: 1rem;
}

.banner .row{
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.banner h1{
    text-align: center;
    color: #f0d5d4;
    margin: 230px auto 20px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 55px;
    letter-spacing: 4px;
}

.banner img{
    display: block;
    margin: 0 auto;
}

.banner p{
    text-align: center;
    margin: 20px auto;
    letter-spacing: 3px;
}



/*4.0 Banner Section End*/

/*5.0 Benefits Section Start*/

.benefits{
    padding: 60px 0px;
}

.benefits img{
    text-align: center;
    margin: 0 auto;
    width: 70%;
}
/*5.0 Benefits Section End*/

/*6.0 Confidential Section Start*/

.confidential{
    background-color: #257e95;
    padding: 50px 0px;
}

.confidential .col-lg-12{
    padding: 5rem;
    text-align: center;
}

.confidential h4{
    color: #fff;
}

.confidential h6{
    color: #fff;
}

.confidential p{
    color: #fff;
}

.confidential .form-fill{
    padding: 0px 20rem;
    text-align: left;
}

.confidential .form-fill{
    padding-bottom: 5rem;
}

.form-fill p{
    color: #fff;
}

.form-group label{
    color: #fff;
}

.form-check-label{
    color: #fff;
}

.form-row label b{
    color: #fff;
}


.btn-primary{
    background-color: #f0d5d4;
    border: none;
    display: block;
    margin: 0 auto;
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
    width: 50%;
}

.btn-primary:hover{
    background-color: #787878;
    border: none;
}

.list{
    margin: 40px 0px 0px;
}

.coverage{
    margin: 40px 0px 0px;
}

.highlight{
    color: linear-gradient(left,#257e95 32%,#96d0aa 100%);
}

/*6.0 Confidential Section End*/

/*7.0 About Section Start*/

.about{
    background-color: #f9f9f9;
    padding: 70px 0px;
}

.about .col-lg-12{
    padding: 0px;
}

.about .col-lg-6{
    padding: 0px;
    background-color: #fff;
}

.about h2{
    color: #5a5a5a;
    font-weight: 600;
    text-align: left;
    text-transform: uppercase;
    
}

.about h4{
    text-transform: uppercase;
    text-align: center;
    color: #5a5a5a;
    font-weight: 700;
}

.about-p{
    text-align: left !important;
    padding: 0px 0px 50px !important;
}

.about p{
    text-align: center;
    color: #5a5a5a;
    padding: 30px;
}

.about .sec-1{
    padding: 50px;
}

.about .sec-2{
    padding: 50px;
}

.about .sec-3{
    padding: 20px 0px;
}

.about .sec-3 p{
    padding: 0px 50px;
}

/*7.0 About Section End*/

/*8.0 Service Section Start*/

.service{
    padding: 70px 0px;
}

.service .col-lg-12 p{
    text-align: center;
    padding-bottom: 50px;
}

.service h2{
    text-align: center;
    font-weight: 600;
    color: #5a5a5a;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.service img{
    display: block;
    margin: 0 auto;
}

.service h5{
    text-align: center;
    margin: 20px auto 40px;
    color: #5a5a5a;
}

.service .col-lg-2{
    max-width: 50%;
}

.service .col-lg-6{
    display: block;
    margin: 0 auto;
    text-align: center;
}

.column{
    float: left;
    display: table;
}

.service .col-lg-2 p{
    text-align: center;
    color: #444343;
    text-transform: uppercase;
    font-size: 10px;
    border: 1px solid #add9e3;
    padding: 15px auto;
    margin: 20px auto 20px;
    padding: 12px;
    background-color: #add9e3;
}
/*8.0 Service Section End*/

/*9.0 Proccedure Section Start*/

.proccedure{
    background-color: #f4f4f4;
}

.proccedure .bg-text{
    padding: 70px 20px;
}

.proccedure .bg-img{
    background: url(../img/A48BAE0C-1822-4EFD-B251-2A6EE92A8588.jpeg)no-repeat;
    background-size: cover;
    background-position: center;
}

.proccedure h2{
    text-align: left;
    font-weight: 600;
    color: #3d3d3d;
    padding: 5px 60px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.proccedure p{
    text-align: left;
    color: #3d3d3d;
    padding: 5px 60px;
    font-size: 12px;
}

.proccedure .col-lg-4{
    margin: 15px auto;
}

.proccedure .col-lg-4 a{
    font-size: 17px;
    text-decoration: none;
    color: #787878;
    text-align: center;
    margin: 15px auto;
    display: block;
}

.proccedure .col-lg-4 a i{
    margin-right: 10px;
    font-size: 30px;
}

.proccedure .col-lg-4 a:hover{
    color: #257e95;
    transition: all 0.3s ease-in;
}

/*9.0 Proccedure Section Start*/

/*10.0 Location Section Start*/

.location{
    padding: 70px 0px;
}

.location h2{
    text-align: center;
    font-weight: 600;
    color: #5a5a5a;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.location p{
    text-align: center;
    color: #787878;
    padding: 15px auto;
    margin: 0 auto 55px;
}

/*10.0 Location Section End*/

/*11.0 Quotes Section Start*/
.quote{
    display: flex;
    align-items: center;
    background-color: #F9F9F9;
    padding: 70px 0px;
}

.quote h2{
    text-align: center;
    font-weight: 600;
    color: #5a5a5a;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.slider{
    background: linear-gradient(112deg, #fff 50%, #fff 50%);
    max-width: 100%;
    margin: auto
}

.carousel-caption {
    height: 24rem;
    position: initial;
    z-index: 10;
    padding: 5rem 8rem;
    color: rgba(78, 77, 77, 0.856);
    text-align: center;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: bold;
    line-height: 2rem
}

.carousel-control-prev {
    justify-content: flex-start
}

.carousel-control-next {
    justify-content: flex-end
}

.carousel-control-prev,
.carousel-control-next {
    transition: none;
    opacity: unset
}

.quote a i{
    background-color: transparent;
    color: #257e95;
    padding: 1.4rem;
    font-size: 25px;
}
/*11.0 Quotes Section End*/

/*12.0 Staff Section Start*/

.staff{
    padding: 70px 0px;
}

.staff h2{
    text-align: center;
    font-weight: 600;
    color: #5a5a5a;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.staff p{
    text-align: center;
    margin-bottom: 30px;
}

.staff img{
    display: block;
    width: 10%;
    margin: 0 auto;
}

.staff .rounded{
    border-radius: 50% !important;
}

.staff h5{
    margin: 30px 0px 0px;
}

.staff h6{
    margin: 10px 0px;
}

/*12.0 Staff Section End*/

/*13.0 Contact Section Start*/

.contact{
    padding: 70px 0px;
    background-color: #f9f9f9;
}

.contact h2{
    text-align: center;
    font-weight: 600;
    color: #5a5a5a;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.contact p{
    text-align: center;
    margin-bottom: 50px;
}

.contact .col-lg-4{
    border: 1px solid #ced4da;
    padding: 50px;
}

.contact .col-lg-4 p{
    text-align: left !important;
    margin: 10px 0px !important;
}

.contact .btn-primary{
    float: left;
    width: 30% !important;
    background-color: #257e95;
    color: #fff;
}
/*13.0 Contact Section End*/

/*14.0 FAQ Section Start*/

.faq{
    padding: 70px 0px;
    background-color: #F9F9F9;
}

.faq .card{
    margin: 10px;
    border: 0px;
}

.faq .card-header{
    border-bottom: 0px;
    background-color: #f8f6f0;
}

.faq .card-body{
    background-color: #f8f6f0;
    padding: 5px 40px 25px;
}


.faq h2{
    text-align: center;
    font-weight: 600;
    color: #5a5a5a;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.mb-0 .btn{
    font-size: 22px;
    font-weight: 600;
    padding: 5px 15px;
}

.faq .btn-link{
    color: #242f51;;
}

.faq .btn:focus, .btn:hover{
    text-decoration: none;
}

/*14.0 FAQ Section End*/

/*15.0 Commision Section Start*/

.comission{
    padding: 70px 0px;
    
}

.comission h2{
    text-align: center;
    font-weight: 600;
    color: #5a5a5a;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.seal{
    display: block; 
    justify-content: center;
    margin: 21px auto;
    text-align: center;
}

.seal-1{
    display: block; 
    justify-content: center;
    margin: 21px auto;
    text-align: center;
    
}

.seal-1 .img-fluid{
    max-width: 40%;
}

.seal-2{
    display: block; 
    justify-content: center;
    margin: 21px auto;
    text-align: center;
}

.seal-2 .img-fluid{
    max-width: 70%;
}

/*15.0 Commision Section End*/

/*16.0 Footer Section Start*/

footer{
    background-color: #257e95;
    padding: 50px 0px 0px;
}

footer .col-lg-2{
    padding: 0px 0px 30px;
}

footer ul{
    padding: 0px;
}

footer ul li{
    list-style: none;
}

footer ul li a{
    text-decoration: none;
    color: #a2c0ca;
    font-weight: 600;
    padding-top: 15px;
}

footer ul li a:hover{
    text-decoration: none;
    color: #a2c0ca;
}

footer .social li{
    float: left;
    padding-left: 10px;
    font-size: 25px;
    color: #fff;
}

footer h6{
    color: #fff;
}

footer p{
    color: #92bfca;
    font-size: 12px;
}

footer .col-lg-12{
    border-top: 1px solid #5198aa;
}

footer .col-lg-12 p{
    display: block;
    margin: 0px auto !important;
    text-align: center;
    padding: 10px;
}
/*16.0 Footer Section End*/

/*Media Query for mobile device from screen to 500px*/
@media screen and (max-width:500px){
    
    .navbar{
        width: 100%;
        text-align: right;
    }
    
    header .top-bar{
        display: none;
    }
    .contact-top{
        display: none;
    }
    
    .navbar-brand{
        width: 30%;
    }
    
    .navbar-brand img{
        max-width: 100%;
    }
    
    .banner h1{
        margin: 180px auto 20px;
    }
    
    
    .cover .btn{
        font-size: 12px;
        padding: 10px 20px;
    }
    
    .benefits{
        padding: 15px 0px;
    }
    
    .confidential .col-lg-12{
        padding: 1rem;
    }
    
    .confidential .form-fill{
        padding: 0px 1rem;
    }
    
    .about h2{
        padding: 30px 45px 10px;
        font-size: 25px;
    }
    
    .about-p{
        text-align: center !important;
    }
    
    .about p{
        text-align: center;
        font-size: 15px;
        padding: 0px;
    }
    
    .about a{
        margin: -20px auto 10px;
        display: block;
        text-align: center;
    }
	
	.about img{
		display: block;
		margin: 0 auto;
	}
    
    .about-bg{
        height: 15rem;
    }
    
    .service h2{
        font-size: 30px;
    }
    
    .service p{
        font-size: 15px;
    }
    
    .mb-0 .btn{
        font-size: 10px;
        padding: 5px 0px;
    }
    
    .faq .card-body{
        font-size: 10px;
    }
    
    .proccedure h2{
        text-align: center;
    }
    
    .proccedure p{
        text-align: center;
        padding: 20px;
    }
    
    .proccedure .bg-img{
        padding: 150px;
    }
    
    .location p{
        padding: 20px;
    }
    
    .location .col-lg-3{
        width: 50%;
        padding-bottom: 20px;
    }
	
	.carousel-caption {
        position: initial;
        z-index: 10;
        padding: 3rem 2rem;
        color: rgba(78, 77, 77, 0.856);
        text-align: center;
        font-size: 0.7rem;
        font-style: italic;
        font-weight: bold;
        line-height: 1.5rem;
        height: 22rem;
    }
    
    
    .quote a i{
        padding: 0.8rem
    }
    
    .staff img{
        width: 20%;
    }
    
    .contact .btn-primary{
        width: 50% !important;
    }
    
    
    footer .img-fluid{
        width: 60%;
        display: block;
        margin: 0 auto;
    }
    
    footer .col-lg-2{
        text-align: right;
        padding: 0px 40px 30px;
    }
    
    footer .social li{
    float: right;
    }
}

/*Media Query for tablet device from 500px to 990px*/
@media (min-width:500px) and (max-width:990px){
    
    
    .navbar{
        text-align: right;
    }
    
    .top-bar-left{
        width: 50%;
    }
    
    .top-bar-right{
        width: 50%;    
    }
    
    .confidential .form-fill{
        padding: 0px 5rem;
    }
    
    .proccedure .bg-img{
        padding: 170px;
    }
    
    .mb-0 .btn{
        font-size: 12px;
    }
    
    .faq .card-body{
        font-size: 10px;
    }
    
    .comission .col-lg-3{
        width: 25%;
    }
    
    .seal-1 .img-fluid{
        max-width: 65%;
    }
    
    .seal-2 .img-fluid{
        max-width: 100%;
    }
    
    .about h2{
        text-align: center;
    }
    
    .about img{
        display: block;
        margin: 0 auto;
    }
    
    .about p{
        text-align: center;
    }
    
    .about a{
        display: block;
        padding: 20px;
        margin: 0 auto;
        text-align: center;
    }
    .about-bg{
        height: 28rem;
    }
    
    .about p{
        font-size: 15px;
    }
    
    .service .col-lg-3{
        width: 50%;
    }
    
    .location .col-lg-3{
        width: 25%;
    }
    
    .carousel-caption {
        position: initial;
        z-index: 10;
        padding: 3rem 2rem;
        color: rgba(78, 77, 77, 0.856);
        text-align: center;
        font-size: 0.7rem;
        font-style: italic;
        font-weight: bold;
        line-height: 1.5rem
    }
    
    .quote a i{
        padding: 0.8rem
    }
    
    footer .img-fluid{
        width: 60%;
        display: block;
        margin: 0 auto;
    }
    
    footer .col-lg-2{
        text-align: right;
        padding: 0px 40px 30px;
    }
    
    footer .social li{
    float: right;
    }
}

@media (min-width:991px) and (max-width:1279px){
    .navbar-brand{
        width: 22%;
    }
    
    .confidential .form-fill{
        padding: 0px 10rem;
    }
    
    .about .sec-1{
        padding: 30px;
    }
    
    .about .sec-2{
        padding: 30px;
    }
    
    .about .sec-3 p{
        font-size: 12px;
    }
    
    .mb-0 .btn{
       font-size: 16px; 
    }
}


